// Center section styling

// Grid container style

.grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  // Grid cells style

  .cell {
    @include mySize;
    @include flex;
    border: 5px solid #faf8f0;
    border-radius: 1em;
    cursor: pointer;
  }
}
