// Top section styling

// H1, span Style

h1 {
  text-align: center;
  letter-spacing: 0.2em;

  & :first-child {
    color: $thirdColor;
  }
  & :nth-child(2) {
    color: $fourthColor;
  }
  & :last-child {
    color: $fifthColor;
  }
}

// Action container style
.action {
  font-size: 1.2em;
  text-align: center;
  display: flex;
  justify-content: space-around;
  // Player status style
  .status {
    color: $sixthColor;
  }
  // Reset style
  .reset {
    cursor: pointer;
    &:hover {
      color: $sixthColor;
    }
  }
}
