//Variables
// Fonts

$my-font: "Girassol", cursive, sans-serif;

// Colors

$firstColor: #545454;
$secondColor: #b5d6fc;
$thirdColor: #0734ff;
$fourthColor: #faed27;
$fifthColor: #ff073a;
$sixthColor: #faf8f0;
